.cursosTitulo{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.listaCursos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.curso{
    border-width: 0.1rem;
    border-style: solid;
    border-color: #39567c;
    width:70%;
    display: flex;
    margin-bottom: 1rem ;
}

.lineaCurso{
    display: flex;
    flex-direction: column;
}

.tituloCurso{
    margin-top: 1rem;
    margin-left: 3rem;
}

.descripcionCurso{
    width: 90%;
    margin-left: 3rem;
    text-align: start;
}

.botonCompraCurso{
    width: 60%;
    margin-left: 3rem;
    margin-bottom: 1.5rem;
    border-color: rgb(72, 72, 141);
    background-color: #39567c;
    color:  rgb(171, 171, 224);
    font-weight: 100;
}

.imgCardCursos{
    max-width: 20vw;
    object-fit: cover;
}
